#!/bin/bash

alias cls=clear
alias ll='ls -l'
alias gfr='git pull --rebase'
alias nr='npm run'
alias vim='nvim'
alias nas_fix_unsplit_cue='bun $NAS_TOOLS/nodejs/scripts/fix-unsplit-cue.ts'
alias nas_move_completed='bun $NAS_TOOLS/nodejs/scripts/move-completed.ts'
alias nas_dir_tree='bun $NAS_TOOLS/nodejs/scripts/dir-tree.ts'