#!/bin/bash

alias cls=clear
alias ll='ls -l'
alias gfr='git pull --rebase'
alias nr='npm run'
alias vim='nvim'
alias nas_fix_unsplit_cue='cd $NAS_TOOLS/nodejs && npm run fix-unsplit-cue --'
alias nas_move_completed='cd $NAS_TOOLS/nodejs && npm run move-completed --'
alias nas_dir_tree='cd $NAS_TOOLS/nodejs && npm run dir-tree --'