#!/bin/bash

alias cls=clear
alias ll='ls -l'
alias gfr='git pull --rebase'
alias nr='npm run'
alias vim='nvim'
alias nas-fix-unsplit-cue='cd $NAS_TOOLS/nodejs && npm run fix-unsplit-cue'
alias nas-move-completed='cd $NAS_TOOLS/nodejs && npm run move-completed'