#!/bin/bash

add-alias() {
  echo "alias $1='$2'" >> ~/.aliases
}

remove-alias() {
  sed -i "/^alias $1=/d" ~/.aliases
}

list-aliases() {
  cat ~/.aliases
}

kill-port () {
	PORT=$1
	lsof -t -i :$PORT | xargs -r kill -9
}

KILL-PORT() {
  PORT=$1
  sudo lsof -t -i :$PORT | xargs -r sudo kill -9
}
